<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-sm">
      <div class="card">
        <div *ngIf="hero" class="card-body">
          <h2 class="card-title">{{hero.name | uppercase}}</h2>

          <table class="table">
            <tbody>
              <tr>
                <td>Hero ID</td>
                <td>{{hero.id}}</td>
              </tr>
              <tr>
                <td>Hero name:</td>
                <td><input id="hero-name" class="form-control" [(ngModel)]="hero.name" placeholder="name"></td>
              </tr>
            </tbody>
          </table>
          <div style="width: 100%" class="d-flex justify-content-end">
            <button class="btn btn-secondary" (click)="goBack()"><b>Go back</b></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
